/* phones */
@media (max-width: 425px) {
  .Album_Detail {
    font-size: 1.25em;
  }
}

/* tablets */
@media (min-width: 426px) {
  .Album_Detail {
    font-size: 1.4em;
  }
}

/* monitors */
@media (min-width: 1025px) {
  .Album_Detail {
    font-size: 1.5em;
  }
}

/* large monitors */
@media (min-width: 1700px) {
  .Album_Detail {
    font-size: 1.55em;
  }
}