@media all {
  .App {
    text-align: center;
  }

  .Album_List {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
  }

  .marginTitle {
    margin-bottom: 12px;
  }

  .weightLabel {
    font-weight: bold;
    margin: 0%;
  }
}

/* phones */
@media (max-width: 425px) {
  .header {
    height: 50px;
    padding: 10px;
  }

  .title {
    font-size: 1.65em;
    font-weight: bold;
  }

  .label {
    font-size: 1.25em;
  }

  .ctr {
    text-align: center;
  }

  .SearchBar hr {
    width: 75%;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .SearchBar input {
    background-color: #e6e9dc;
    width: 75%;
    height: 1.3em;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 15px;
  }

  .Album_Detail {
    font-size: 1.25em;
  }

  .gridCSS {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap:    75px;
  }
}

/* tablets */
@media (min-width: 426px) {
  .header {
    height: 60px;
    padding: 10px;
  }

  .title {
    font-size: 2em;
    font-weight: bold;
  }
  .label {
    font-size: 1.6em;
  }

  .ctr {
    text-align: center;
  }

  .SearchBar hr {
    width: 65%;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .SearchBar input {
    background-color: #e6e9dc;
    width: 65%;
    height: 1.65em;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 15px;
  }

  .Album_Detail {
    font-size: 1.4em;
  }

  .gridCSS {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:    75px;
    grid-column-gap: 15px;
  }
}

/* monitors */
@media (min-width: 1025px) {
  .header {
    height: 70px;
    padding: 10px;
  }
  .title {
    font-size: 2.5em;
    font-weight: bold;
  }

  .label {
    font-size: 1.7em;
  }

  .ctr {
    text-align: center;
  }

  .SearchBar hr {
    width: 45%;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .SearchBar input {
    background-color: #e6e9dc;
    width: 45%;
    height: 1.75em;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 15px;
  }

  .Album_Detail {
    font-size: 1.5em;
  }

  .gridCSS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:    75px;
    grid-column-gap: 15px;
  }
}