.SearchBar .label {
  font-size: 1.25em;
}
/* phones */
@media (max-width: 425px) {
  .SearchBar hr {
    width: 75%;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .SearchBar input {
    background-color: #e6e9dc;
    width: 75%;
    height: 1.3em;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 15px;
  }
}

/* tablets */
@media (min-width: 426px) {
  .SearchBar hr {
    width: 75%;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .SearchBar input {
    background-color: #e6e9dc;
    width: 75%;
    height: 1.3em;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 15px;
  }
}

/* monitors */
@media (min-width: 1025px) {
  .SearchBar hr {
    width: 45%;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .SearchBar input {
    background-color: #e6e9dc;
    width: 45%;
    height: 1.3em;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 15px;
  }
}

/* large monitors */
@media (min-width: 1700px) {
  .SearchBar hr {
    width: 35%;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .SearchBar input {
    background-color: #e6e9dc;
    width: 35%;
    height: 1.3em;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 15px;
  }
}